@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    /* Adicionando variáveis */

    --cor-primaria: rgba(0, 0, 0, 0.80);
    --cor-secundaria: #FBFBFD;
    --tom-1: #000;
    --tom-2: #f5f5f7;

    font-family: 'Roboto', sans-serif;

    font-size: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tom-2);
}

img {
    width: 100%;
    height: auto;
}

#logo {
    height: 3rem;
    width: auto;

    padding: 3px;
    margin: 10px 0 10px 0;
}

header {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cor-primaria);
    padding: 30px;
}

nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    padding: 20px 10px 20px 10px;
}

nav ul li a {
    text-decoration: none;

    display: inline;
    color: var(--cor-secundaria);
    padding: 20px;

}
section.ImagemTxtDestaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImagemTxtDestaque img{
    width: 400px;

    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.ImagemTxtDestaque p {
    padding: 10px;
}

.cards {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /*se precisar, quebra a linha*/
}

.cards .card {
    width: 30%;
    min-height:  150px;
    margin-bottom: 30px;

    padding: 5px 5px 5px 5px;
}

.cards .card h2{
    text-align: center;
    margin-bottom: 15px;
}

.cards .card .img {
    max-width: 90%;
}

/* Depois adicionar um media query */